@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0d092d, #350707);
}
.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(222, 215, 10, 0.5);
}
input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(152, 230, 175, 0.1);
  border-radius: 16px;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
  color: rgb(224, 142, 0);
}
input::placeholder {
  color: rgb(224, 142, 0);
}
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: rgb(231, 227, 222);
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}
.equalBtn {
  background: #0c6e79;
}
.operatorBtn {
  color: chartreuse;
}
button:hover {
  transform: scale(1.5);
}
